---
layout: default
title: Home
---

<div id='name-banner'>
    <h1 class='name name-big'>
        <a href="/">Nolan Nicholson</a>
        
        <!--Code for adding a spinning cube to the header-->
        <div id="headercanvas-holder">
            <canvas id="headercanvas"></canvas>
        </div>
        <script src="/assets/js/libraries/gl-matrix.js"></script>
        <script src="/assets/js/headercube.js"></script>
        <!--end spinning cube code-->
    </h1>
</div>

<p>
<a href="https://twitter.com/nolannicholson">Twitter</a> |
<a href="https://github.com/nolannicholson">GitHub</a>
</p>
<hr>

<p>
Hello! I'm Nolan Nicholson, a software developer in Reno, NV.
</p>

<h1>Posts</h1>

<table>
    {% for post in site.posts %}
    <tr>
        <td>
            {{ post.date | date_to_string }} - 
        </td>
        <td>
            {% if post.thing_url %}
            <a href="{{ post.thing_url }}">{{ post.title }}</a>
            (<a href="{{ post.url }}">About</a>)
            {% else %}
            <a href="{{ post.url }}">{{ post.title }}</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<br>
