table#gol-table {
    border-collapse: collapse;
}

td.gol {
    width: 1em;
    height: 1em;
    background-color: #ddd;
}

td.gol.alive {
    background-color: #636;
}

td.gol.alive.age0 {
    background-color: #f36;
}

td.gol.alive.age1 {
    background-color: #c36;
}

td.gol.alive.age2 {
    background-color: #936;
}

td.gol.dead.age0 {
    background-color: #cccccc;
}

td.gol.dead.age1 {
    background-color: #d6d6d6;
}

td.gol.dead.age2 {
    background-color: #dadada;
}

td.gol.dead:hover {
    background-color: #caf;
}

td.gol.alive:hover {
    background-color: #000;
}
