<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146424119-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146424119-1');
    </script>

    <meta charset="UTF-8">
    <title>{% block title %}Nolan Nicholson{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="highlighting.css">
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700'>
    <link rel="stylesheet" type="text/css" href="stylin.css">
</head>

<body>
    <h1 class='name'>
        <a href="index.html">Nolan Nicholson</a>
        
        <!--Code for adding a spinning cube to the header-->
        <canvas id="headercanvas" width="64" height="64"></canvas>
        <script src="scripts/libraries/gl-matrix.js"></script>
        <script src="scripts/headercube.js"></script>
        <!--end spinning cube code-->
    </h1>
    {% block page_content %}
    {% endblock %}
    {% if link_home %}
    <hr>
    <p>
        <a href="index.html">Home</a>
    </p>
    {% endif %}

</body>
</html>
