/* Style page for Nolan Nicholson's website */

body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 18px;
    color: #333333;
}

p {
    align: center;
    max-width: 800px;
}

li {
    max-width: 800px;
}

a, a:link {
    color: #40a8e8;
}

a:visited {
    color: #604ae0;
}

a:hover, a:focus {
    color: #7bd7fc;
}

a:active {
    color: #fc571b;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0;
}

.name a {
    color: #333333;
    text-decoration: none;
}
.name a:hover {
    color: #555555;
}

.codeholder {
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 4px;
    display: table;
    max-width: 800px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
}
.highlight  {
    background: #f3f3f3;
    font-size: 16px;
}
.linenos {
    color: #aaaaaa;
    padding-right:8px;
    font-size: 16px;
}

#headercanvas {
    display:inline-block;
    vertical-align: text-bottom;
}
